html {
    text-align: center;  
    background: #eee;
    font-family: Helvetica,Arial,sans-serif; 

}
body {
    width: 45em; 
    display: inline-block; 
    text-align: left;
}
a {
    color: #333;
    color: #387AD1;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
li {
    line-height: 2em;
}

#container {
    font-size: 0.9em;
    list-style: none;
    margin: 0.8em 0.5em;
}

header {
    padding-top: 0.5em;
}

#logo {
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    font-size: 2.8em;
    color: #555;
    display: inline-block;
}
.sp-line {
    border-top: 1px dashed #ccc;
    margin: 0.5em 0;
}

h2 {
    margin: 0.25em 0;
}

.smallcap {
    text-transform: lowercase;
    font-variant: small-caps;
}
.smallcap::first-letter {
    text-transform: uppercase;
}

#intro p{
    margin: 0.8em 0.5em;
}
p {
    color: #333;
}
#tags-nav a{
  white-space: pre-wrap;
  color: #555;
  border: 1px dashed #999;
  padding: 0.1em 0.2em;
  margin-right: 0.2em;
}

#tags-nav .current{
   border: 1px solid #333;
   color: #333;

}
#tags-nav a:hover {
   text-decoration: none;
   background-color: #ddd;
}
#tags-nav {
    margin-bottom: 0.5em;
}
#gist-list .gist-tags {
    margin-left:0.5em;
    background-color: #ddd;
} 
footer {
    font-size: 0.8em;
    width: 56.4em;
    color: #555;
    position: absolute;
    bottom: 0.2em;
    padding: 0.5em 0;
    border-top: 1px dashed #ccc;
    z-index: 3;
}

#personal {

}
