body {
    margin: 0;
    font-family: Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",serif;
}
#content {
    position: fixed;
    top: 0;
    padding-top: 4.25em;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: block;
    transition-duration: 1s;
}

/* header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    background-color: #fff;
    padding: 0.5em 0;
    transition-duration: 1s;
}

#logo {
    padding: 0.5em 0;
    height: 3em;
    padding-right: 3em;
    transition-duration: 1s;
}

.expand-h {
    padding: 3em 0;
}
.expand-h #logo{
    height: 5em;
    padding-right: 0;
}
.expand-h span{
    display: block;
}
#nav {
    padding-left: 0;
    clear:both;
    display: inline-block;
}
#nav li{
    list-style-type: none;
    float: left; 
    margin: 0 1em;
    padding: 0;
}
#nav li a {
    color: #3DA948;
    border: 1px solid #3DA948;
    border-radius: 5px;
    padding: 0.4em 1em;
    font-size: 1.2em;
    line-height: 1.2em;    
}
#nav li a:hover {
    background-color: #3DA948;
    color: #fff;
}
a {
    text-decoration: none;
}

/* seas */
#sea {
    opacity: 0;
    transition-duration: 2s;
    z-index: 3;
    width: 100%;
    text-align: left;
}
#sea img {    
    z-index:3;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* next icon  */
#next {
    transition-duration: 1s;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 5;
    display: block;
}
#next img{
    padding: 1em;
    border-radius: 10px;
}
#next img:hover {
    background-color: rgba(0,0,111,0.4);
}

/* pages */
.page{
    width: 100%;
    height: 100%;
    text-align: center;
}
/* 1st-page */
#main-page {
    background: url("./main.jpg") #fff no-repeat center;
}
#main-page p{
    color: #42865D;
    padding-left: 12em;
    font-size: 3em;
    padding-top: 6.5em;
    margin: 0;
}
/* 2nd-page */
#spirt {
    padding-top: 2em;
    padding-bottom: 1em;
    display: inline-block;
}
#spirt span{
    font-style: bold;
    font-size: 2.5em;
    float: left;
    padding-right: 1em;
    padding-top: 0.2em;
}
#spirt p {
    margin-top: 0.5em;
    text-align: left;
    float: left;
    border: 1px solid #3DA948;
    padding: 1em 3em;
    width: 50em;
}
#spirt p span {
    padding: 0;
    padding-right: 0.5em;
    color: #3DA948;
    font-size: 2em;
}
#slide-win {
    height: 14em;
    width: 100%;
    overflow: hidden;
}
#slide-imgs{
    height: 14em;
}

#slide-imgs img {
    float: left;
    padding: 1em 0.5em;
    height: 12em;
}
#slide-imgs img:hover {
    height: 14em;
    padding: 0 0.5em;
}

#food {
    background: url("./food.jpg") #fff no-repeat center;
    background-size: auto 100%;
}

#join {
    background: url("./join.jpg") #fff no-repeat center;
    background-size: 100% 100%;
}
#join .title{
    height: 10em;
    text-align: left;
    margin-left: 5em;
    padding-top: 2em;
}
#join .title img{
    height: 100%;
    float: left;
    margin-right: 2em;
}

#join .msg{
    text-align: left;
    margin: 1em 10em;
    display: inline-block;
    background-color:  rgba(255, 255, 255, 0.7);
    color: #3DA948;
    padding: 2em 3em;
    font-size: 1.2em;
}
#join .msg span{
    display: block;
    text-align: right;
}
#join .msg p{
    font-weight: bold;
}
#follow a {
    position: fixed;
    top: 10em;
    color: #3DA948;
    z-index:5;
    width: 1em;
    padding:  0.5em;
    background-color: #fff;
    border: 1px solid #3DA948;
    border-radius: 5px;
    margin: 0 1em;
}
#follow a:hover {
    background-color: #3DA948;
    color: #fff;
}
#weibo {
    right: 0;
}

#weixin img {
    position: relative;
    top: 10em;
    left: 3em;
    z-index: 5;
    background-color: #fff;
    border: 1px solid #3DA948;
    border-radius: 5px;
    display: none;
}

#weixin:hover img{
    display: block;
}

#map {
    margin: 3em 0;
    margin-left: 15em;
    float: left;
}
#address {
    width: 425px;
    margin: 3em 0;
    background-color: #fff;
    border: 1px solid #3DA948;
    float: left;
    margin-left: 2em;
    height: 350px;
    padding: 0 1em;
    text-align: left;
}
#address span {
    display: inline-block;
    width: 5em;
    color: #3DA948;
    font-weight: bold;
}